<% layout('./layouts/boilerplate') -%>
  <div class="alert alert-danger col-md-6 offset-md-3" role="alert">
    <h4 class="alert-heading text-center">
      <%=statusCode%> ERROR: <%=err.name%>
    </h4>
    <p>
      <%=message%>
    </p>
    <a href="<%=path%>" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Go back</a>
    <hr />
    <%if (process.env.NODE_ENV !=="production" ) {%>
      <p class="mb-0">
        <%=err.stack%>
      </p>
      <%}%>
  </div>