<% layout('layouts/boilerplate-w100') -%>
  <div id="map" class="map-cluster"></div>
  <script>
    const mapToken = '<%- process.env.MAP_TOKEN %>';
    const desserts = { features: <%- JSON.stringify(data) %>};
    const defaultImg = '<%=defaultPic%>';
    const imgClassName = 'card-img-top';
  </script>
  <script src="/js/clusterMap.js">
  </script>
  <div class="container my-5">
    <%- include("../partials/flash")%>
      <h1 class="text-center">Browse our delicious desserts</h1>
      <p class="text-center text-muted">Have a closer look by clicking on the image, and feel the.. Sweet!</p>
      <div class="row justify-content-evenly text-center">
        <%for (let d of data){%>

          <div class="card m-3 p-0 hidden hidden-left" id="card-icon">
            <a href="/desserts/<%=d._id%>">
              <%if(d.imgs&&d.imgs.length){%>
                <img src="<%=d.imgs[0].url%>" class="card-img-top" alt="..." >
                <%}else{%>
                  <img src='<%=defaultPic%>' class="card-img-top" alt="..." >
                  <%}%>
                    <div class="card-body">
                      <h5 class="card-title text-muted">
                        <%=d.name%>
                      </h5>
                    </div>
            </a>
          </div>
          <%}%>
            <script src="/js/imgOnError.js"></script>
      </div>
  </div>