<% layout('./layouts/boilerplate') -%>
    <div class="card mb-5">
        <div class="row g-0">
            <div class="col-md-6">
                <%if(data.imgs&&data.imgs.length>1){%>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <% data.imgs.forEach((img,i)=>{ %>
                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to=<%=i%>
                                    class=<%= i==0 ? 'active' : '' %> aria-label="Slide <%=i+1%>">
                                </button>
                                <%}) %>
                        </div>
                        <div class="carousel-inner">
                            <% data.imgs.forEach((img,i)=>{ %>
                                <div <%if(i==0){%>
                                    class= "carousel-item active"
                            <%}else{%>
                                    class= "carousel-item"
                                    <%}%>>
                                        <img src="<%=img.url%>" class="img-fluid rounded-start IN" alt="..."> 
                                </div>
                            <% }) %>
                        </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                    </div>
                        <%}else{%>
                            <img 
                            <%if(data.imgs.length){%>
                                src="<%=data.imgs[0].url%>" 
                                <%}else{%>
                                    src=""
                                    <%}%>
                                class="img-fluid rounded-start OUT" 
                                alt="..."> 
                        <%}%>
                    <div class="card-body">
                        <% if(data.author_name){ %>
                            <p class="card-text mb-0">
                                <small><span class="text-muted">
                                    Example from:</span> <a href="https://github.com/igdev116/free-food-menus-api">igdev116</a>
                                </small>
                            </p>
                            <% } %> 
                            <% if(data.author){ %>
                            <p class="card-text mb-0">
                                <small>
                                    <span class="text-muted">Posted by:</span> <%=data.author.username%>
                                </small>
                            </p>
                            <% } %>
                                <h1 class="card-title">
                                    <%=data.name%>
                                </h1>
                                <hr>
                                <p class="card-text"><span class="text-muted">Description:</span><br><%=data.dsc%>   
                                </p>
                                <hr>
                                <p class="card-text"><span class="text-muted">Price $</span><%=data.price%>
                                </p>
                    </div>
            </div>
            <div class="col-md-6">
                <div id="map" class="map-fluid"></div>
                <div class="card-body">
                    <h4 class="card-title text-muted"> More info: 
                    </h4>
                <p class="card-text mb-1"><span class="text-muted">by: </span><%=data.company%>
                </p>
                <p class="card-text mb-1"><span class="text-muted">Country:</span> <%=data.country%>
                </p>
                <p class="card-text mb-3"><span class="text-muted">Rated:</span>
                    <%=data.rate%>/5
            </p>
            <% if(data.author._id.equals(user._id)||adminsId.includes(user._id)) {%> 
                <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/desserts/<%=data.id%>/edit" class="btn btn-info">edit</a>
        </div>
            <%}%>
            <hr>
            <div class="d-grid gap-2 col-6 mx-auto">
           <a href="/desserts" class="btn btn-primary">go to all</a> 
        </div>
        </div>
            </div>

        </div>
    </div>

    <% if(user){%>
        <form action="/desserts/<%=data.id%>/review" method="post" class="needs-validation mb-5" novalidate>
            <h2>Add a new review</h2>
            <div class="input-group mb-3">
                <span class="input-group-text">Rating: </span>
                <input type="number" class="form-control" min="0" max="5" placeholder="from 0 (worst) to 5(best)"
                    name="rating" aria-label="Rate from 0 (worst) to 5(best)" required />
                <span class="input-group-text">/5</span>
                <div class="invalid-feedback">Please provide a valid info.</div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Review: </span>
                <textarea class="form-control" aria-label="text" name="text"></textarea>
                <div class="invalid-feedback">Please provide a valid info.</div>
            </div>
            <button class="btn btn-primary" type="submit">Add a review</button>
        </form>
        <% }else{%>
            <h2>To add a review - <a href="/users/login?returnTo=/desserts/<%=data.id%>">log in here</a></h2>
            <% }%>
                <section>
                    <h1>Reviews</h1>
                    <%if(!data.reviews.length){%>
                        <p>no reviews yet</p>
                        <%}%>
                            <%for(let review of data.reviews){%>
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-sm-auto">
                                            <div class="card-body border-end">
                                                    <%if(review.author){%>
                                                        <p class="card-text mb-0">
                                                            <small class="text-small text-muted">User: </small>
                                                        </p>
                                                        <p class="card-title mb-0"><%=review.author.username%></p>
                                                        <%}else{%>
                                                            <span class="text-muted">No author</span> 
                                                            <%}%>
                                                            <hr>
                                                <h6 class="card-subtitle mb-2 text-muted">Rating:
                                                    <%=review.rating%>/5
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-sm p-3 pb-0">
                                            <p class="card-text">
                                                <%=review.text%>
                                            </p>
                                            <% if(review.author&&review.author.equals(user._id)||adminsId.includes(user._id)){ %>
                                                <hr>
                                                <div class="d-grid gap-2 col-6 mx-auto">
          
                                                <form
                                                    action="/desserts/<%=data.id%>/review/<%=review.id%>?_method=DELETE"
                                                    method="post">
                                                    <button class=" btn btn-danger w-100">delete</button>
                                                </form>
                                            </div> 
                                               <% } %>
                                        </div>
                                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                                       
                                    </div>
                                </div>
                                <%}%>
                </section>
                <script>
                    console.log('be carefull, prettier adds space in EJS tag when files saved!!')
                    const mapToken = '<%- process.env.MAP_TOKEN %>';
                    const dessert = <%- JSON.stringify(data) %>;
                    const defaultImg = '<%=defaultPic%>';
                    const imgClassName = 'img-fluid';
                </script>
                <script src="/js/showMap.js"></script>
                <script src="/js/imgOnError.js"></script>