<% layout('./layouts/boilerplate') -%>
    <div class="card mb-5">
        <div class="row g-0">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <% data.imgs.forEach((img,i)=>{ %>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=<%=i%>
                                class=<%= i==0 ? 'active' : '' %> aria-label="Slide <%=i+1%>">
                            </button>
                            <%}) %>
                    </div>
                    <div class="carousel-inner">
                        <% data.imgs.forEach((img,i)=>{ %>
                            <div <%if(i==0){%>
                                class= "carousel-item active"
                                <%}else{%>
                                    class= "carousel-item"
                                    <%}%>>
                                        <img src="<%=img.url%>" class="img-fluid rounded-start" alt="..."
                                            onerror=src=`https://res.cloudinary.com/b789b130931413a/image/upload/v1669819470/sweetApp/NO_PICTURE_ftgbpt.jpg`>
                            </div>
                            <% }) %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h1 class="card-title">
                        <%=data.name%>
                    </h1>
                    <h4 class="card-title"> by: <%=data.company%>
                    </h4>
                    <p class="card-text"><small class="text-muted"> Country: <%=data.country%></small></p>
                    <p class="card-text">Description: <%=data.dsc%>
                            <p class="card-text text-muted"> Price $<%=data.price%>
                            </p>
                            <p class="card-text"><small class="text-muted"> Rated: <%=data.rate%>/5</small></p>
                    </p>
                    <div class="btn btn-info"><a href="/desserts/<%=data.id%>/edit">edit</a> </div>
                    <div class="btn btn-primary"><a href="/desserts">go to all</a> </div>
                </div>
            </div>
        </div>
    </div>

    <form action="/desserts/<%=data.id%>/review" method="post" class="needs-validation mb-5" novalidate>
        <h1>Add a new review</h1>
        <div class="input-group mb-3">
            <span class="input-group-text">Rating: </span>
            <input type="number" class="form-control" min="0" max="5" placeholder="from 0 (worst) to 5(best)"
                name="rating" aria-label="Rate from 0 (worst) to 5(best)" required />
            <span class="input-group-text">/5</span>
            <div class="invalid-feedback">Please provide a valid info.</div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Review: </span>
            <textarea class="form-control" aria-label="text" name="text"></textarea>
            <div class="invalid-feedback">Please provide a valid info.</div>
        </div>
        <button class="btn btn-primary" type="submit">Add a review</button>
    </form>

    <section>
        <h1>Reviews</h1>
        <%if(!data.reviews.length){%>
            <p>no reviews yet</p>
            <%}%>
                <%for(let review of data.reviews){%>
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-sm-auto">
                                <div class="card-body border-end">
                                    <h5 class="card-title">Card title
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Rating: <%=review.rating%>/5</h6>
                                </div>
                            </div>
                            <div class="col-sm p-3">
                                <p class="card-text">
                                    <%=review.text%>
                                </p>
                            </div>
                            <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                            <div class="col-sm-auto">
                                <form action="/desserts/<%=data.id%>/review/<%=review.id%>?_method=DELETE"
                                    method="post">
                                    <button class=" btn btn-danger">delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <%}%>
    </section>