<% layout('./layouts/boilerplate') -%>

    <h1><span class="text-muted">User: </span> <%=data.username%>
    </h1>
    <hr>

    <h2><span class="text-muted">Added reviews:</span>
        <%= data.reviews.length ? data.reviews.length : 'none' %>
    </h2>
    <% if(data.reviews.length) {%>
        <% for(r of data.reviews) {%>
            <p><a href="/desserts/<%=r.dessert%>#<%=r._id%>"><span class="text-muted">Rated: </span><%= r.rating %>/5
                        <br>
                        <span class="text-muted">Review: </span><%= r.text %>
                </a></p>
            <% } %>
                <% } %>
                    <hr>

                    <h2><span class="text-muted">Added desserts: </span>
                        <%= data.desserts.length ? data.desserts.length : 'none' %>
                    </h2>
                    <% if(data.desserts.length) {%>
                        <div id="map" class="map-cluster mb-3"></div>
                        <% for(d of data.desserts) {%>
                            <div class="card p-4 mb-4">
                            <p class="card-title mb-1"><a href="/desserts/<%=d._id%>" class="lead">
                                <%= d.name %>
                            </a>
                            <br>
                            <span class="card-text text-muted"><%= d.dsc %></span>
                        </p>
                        <p class="card-text mb-1"><span class="text-muted">Country:</span> <%=d.country%>
                        </p>
                        <p class="card-text mb-1"><span class="text-muted">Rated:</span>
                            <%=d.rate%>/5
                    </p>
                </div>
                            <% } %>
                                <% } %>
                                    <script>
                                        const mapToken = '<%- process.env.MAP_TOKEN %>';
                                        const desserts = { features: <%- JSON.stringify(data.desserts) %>};
                                   </script>
                                    <script src="/js/clusterMap.js">
                                    </script>


